<!--Forgot Password Starts-->
<section id="forgot-password" style="background-image: url('assets/img/gallery/light-bg.jpg');">
    <div class="row auth-height full-height-vh m-0 d-flex align-items-center justify-content-center">
        <div class="col-md-7 col-12">
            <div class="card overflow-hidden">
                <div class="card-content">
                    <div class="card-body auth-img">
                        <div class="row m-0">
                            <div class="col-lg-6 d-none d-lg-block text-center py-3">
                                <img src="assets/img/gallery/forgot.png" alt="" class="img-fluid" width="270" height="200" />
                            </div>
                            <div class="col-lg-6 col-md-12 px-4 py-3">
                                <h4 class="mb-2 card-title">Restablecer Contraseña</h4>
                                <form class="form" [formGroup]="myGroup" (ngSubmit)="savePassword()">
                                    <div class="form-group">
                                        <p class="card-text mb-3">Ingresa tu email</p>
                                        <!-- <input type="password" class="form-control mb-3" placeholder="Email"> -->
                                        <input id="email" formControlName="email" type="email" class="form-control" [ngClass]="myGroup.controls['email'].invalid ? 'is-invalid' : ''">
                                        <label class="text-danger" *ngIf="myGroup.controls['email'].hasError('required')">
                        *El email es requerido
                      </label>
                                        <label class="text-danger" *ngIf="myGroup.controls['email'].hasError('pattern')">
                        *Ingresa un email valido
                      </label>
                                    </div>
                                    <div class="form-group">
                                        <p class="card-text mb-3"><b>Ingresa tu nueva contraseña</b><br>
                                            <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="myGroup.controls['password'].invalid ? 'is-invalid' : ''">
                                            <label class="text-danger" *ngIf="myGroup.controls['password'].hasError('required')">
                          *La contraseña es requerida
                      </label>
                                            <label class="text-danger" *ngIf="myGroup.controls['password'].hasError('pattern')">
                        *La contraseña debe tener al menos 8 caracteres, al menos 1 mayúscula, 1 minúscula y un número
                      </label>
                                    </div>
                                    <div class="form-group">
                                        <p class="card-text mb-3">Ingresa de nuevo tu contraseña</p>
                                        <input id="password_confirmation" formControlName="password_confirmation" type="password" class="form-control" [ngClass]="myGroup.controls['password_confirmation'].invalid ? 'is-invalid' : ''">
                                        <label class="text-danger" *ngIf="myGroup.controls['password_confirmation'].hasError('required')">
                          *La confirmación de contraseña es requerida
                    </label>
                                        <label class="text-danger" *ngIf="myGroup.controls['password_confirmation'].hasError('NoPassswordMatch')">
                      *Las contraseñas deben coincidir
                    </label>
                                    </div>

                                    <div class="d-flex flex-sm-row flex-column justify-content-between">
                                        <button class="btn btn-primary ml-sm-1" [disabled]="myGroup.invalid">Restablecer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Forgot Password Ends-->