<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12">
      <!-- Filter starts -->
      <div class="users-list-filter px-2">
        <form [formGroup]="filtersForm">
          <div class="row border rounded py-2 mb-2 mx-n2">
            <div class="col-12 col-sm-6 col-lg-3">
              <label for="users-list-status">Status</label>
              <fieldset class="form-group">
                <select class="form-control" formControlName="status">
                  <option [value]="item.value" *ngFor="let item of status">
                    {{ item.name }}
                  </option>
                </select>
              </fieldset>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label for="users-list-verified">CREADO POR</label>
              <fieldset class="form-group">
                <select class="form-control" formControlName="createdBy">
                  <option
                    [value]="item.value"
                    *ngFor="let item of listaCreadores"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </fieldset>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label for="users-list-role">ASIGNADO A</label>
              <fieldset class="form-group">
                <select class="form-control" formControlName="assignedBy">
                  <option
                    *ngFor="let item of listaAsignados"
                    [value]="item.value"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </fieldset>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                "
              >
                <button class="btn bg-success avatar p-2 m-2">
                  <div class="avatar-content font-medium-2">
                    <i class="ft-plus cursor-pointer"></i>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- Filter ends -->
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <!-- ngx-datatable-filter -->
            <fieldset class="form-group">
              <label
                >MOSTRAR
                <select
                  name="users-list-select"
                  class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                  [formControl]="numItems"
                >
                  <option [value]="item.value" *ngFor="let item of maxItems">
                    {{ item.name }}
                  </option>
                </select>
                ENTRADAS
              </label>
              <label for="ngx-filter-ref" class="float-right"
                >BUSCAR:
                <input
                  class="form-control form-control-sm d-inline-block width-200 ml-1"
                  type="text"
                  [formControl]="filtro"
                />
              </label>
            </fieldset>

            <ngx-datatable
              class="bootstrap core-bootstrap"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [limit]="limitRef"
              [rows]="rows"
              [scrollbarH]="true"
              [columns]="columns"
            >
              <ngx-datatable-column name="CORPORATIVO" prop="ID" [width]="150">
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                >
                  <div class="d-flex align-items-center">
                    <div class="row">
                      <div class="col-6">
                        <img
                          class="rounded-circle mr-1"
                          [src]="row.S_LogoURL"
                          height="32"
                          width="32"
                          alt="datatable-avatar"
                        />
                      </div>
                      <div class="col-6">
                        <a [routerLink]="['/corporativos/detalle/', row.id]">
                          {{ row.S_NombreCorto }}
                        </a>
                        <br />
                        <span class="text-secondary">
                          {{ row.S_NombreCompleto }}
                        </span>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="URL" prop="Username" [width]="150">
                <ng-template
                  let-row="row"
                  let-name="value"
                  ngx-datatable-cell-template
                >
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <a
                        class="line-height-1 mb-0"
                        [routerLink]="
                          'devschoolcloud.com/sa/#/' + row.S_SystemUrl
                        "
                      >
                        devschoolcloud.com/sa/#/{{ row.S_SystemUrl }}
                      </a>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="INCORPORACIÓN"
                prop="D_FechaIncorporacion"
                [width]="100"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.D_FechaIncorporacion | date: "dd-MMM-yyyy" }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="CREADO EL"
                prop="created_at"
                [width]="120"
              >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.created_at | date: "dd-MMM-yyyy" }}
                  <br />
                  <span class="text-secondary">
                    por {{ row.user_created.S_Nombre }}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="ASIGNADO A"
                prop="asignado.S_Nombre"
                [width]="70"
              ></ngx-datatable-column>
              <ngx-datatable-column name="STATUS" prop="S_Activo" [width]="70">
                <ng-template let-status="value" ngx-datatable-cell-template>
                  <div class="badge" [class.bg-light-success]="status === 1">
                    {{ status == 1 ? "Activo" : "Inactivo" }}
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="ACCIONES" [width]="50">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <a [routerLink]="['/corporativos/detalle/', row.id]">
                    <i class="ft-eye text-info cursor-pointer"></i>
                  </a>
                  <span style="margin-right: 8px"></span>
                  <span>
                    <i class="ft-check-circle cursor-pointer"></i>
                  </span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Filter Datatables -->
